#first{
    width: 1160px;
    height: 378px;
    border: 3px solid #782221;
}

nav{
    width: 1160px;
    height: 126px;
    border: 3px solid #2c1d27;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#corps{
    order: 2;
    width: 810px;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
}

#plus{
    order: 1;
    width: 340px;
    height: 1040px;
    display: flex;
    flex-direction: column;
    border: 3px solid #782221;
}

footer{
    order: 3;
    width: 1160px;
    height: 126px;
    border: 3px solid #782221;
}

nav{
    width: 1160px;
    height: 126px;
}

#exp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}