#first{
    background-color: #782221;
}

nav{
    background-color: #2c1d27;
}

#plus{
    background-color: #782221;
}

#corps{
    background-color: white;
}

footer{
    background-color: #782221;
}