h1{
    font-family: 'Lato', sans-serif;
}

h3{
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}

h4{
    font-family: 'Raleway', sans-serif;
}

ul{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

small{
    font-family: 'Raleway', sans-serif;
}